body {
  background-color: rgb(3, 10, 18);
}

.post-page {
  width: 70%;
  margin: auto;
  margin-top: 2.5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.post {
  color: white;
  display: flex;
  flex-direction: row;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  padding: 2%;
}

.post-link {
  text-decoration: none;
}

.post-text {
  font-size: 125%;
}

.post-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.write-comment {
  color: white;
  display: flex;
  border: 1px solid white;
  padding: 2%;
  display: flex;
  flex-direction: row;
  float: left;
}

.write-comment input {
  background-color: white;
  padding: 2%;
  border-radius: 15px;
  width: 90%;
}

.write-comment button {
  background-color: rgb(3, 10, 18);
  color: rgb(85, 0, 164);
  border: 1px solid rgb(38, 0, 73);
  border-radius: 25px;
  font-size: 15px;
  padding: 2%;
}

.load-comments {
  color: rgb(36, 85, 176);
}

.comment {
  color: white;
  display: flex;
  flex-direction: row;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  padding: 2%;
  margin: 5%;
  margin-top: 0%;
}

.new-post {
  width: 5%;
  height: 5%;
}

.new-post-page {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-size: 50px;
}

.new-post-page input {
  width: 100%;
  height: 300px;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  border: 0.5px solid white;
  resize: none;
  box-sizing: border-box;
}

.new-post-button {
  background-color: rgb(3, 10, 18);
  color: rgb(85, 0, 164);
  border: 1px solid rgb(38, 0, 73);
  border-radius: 25px;
  font-size: 15px;
  padding: 2%;
}

:hover .new-post-button {
  cursor: pointer;
}

.post-link a:hover {
  background-color: aqua;
}

#pfp {
  max-width:200px;
}


.overlay {
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 7%;
  right: 0;
  height: 200px;
  width: 200px;
  opacity: 0;
  transition: .5s ease;
  background-color: rgb(45, 89, 170);
}

.pfp-container {
  position: relative;
  
}

.pfp-container:hover .overlay {
  opacity: .75;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 57%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#message-box {
  color:white;
  border-style: dotted;
}