<!DOCTYPE html>
<html lang="en">

<head>
  <title>Messages</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

  <script src="https://kit.fontawesome.com/c678b401a2.js" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='javascript/messages.js') }}"></script>

</head>

<body onload="$('#message-box').hide()">

    <!-- Navbar -->

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">

            <li class="nav-item">
                <a class="nav-link" href="/"><i class="fa-sharp fa-solid fa-newspaper"></i></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/lookup"><i class="fa-solid fa-magnifying-glass"></i></a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="/messages"><i class="fa-solid fa-envelope"></i></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/profile/0"><i class="fa-solid fa-user"></i></a>
            </li>
            </ul>
        </div>
        <a href="{{url_for('logout')}}"><button class="btn btn-outline-dark">logout</button></a>
    </nav>

    <div class="mx-auto w-25 mt-5">
        {% for user in following_list %}

            <div class="card m-4">
                <div class="container" href>
                    <div class="row">
                        <div class="col-5">
                            {% if user.profile_pic == None %}
                            <img src="/static/images/empty_user.png" class="w-50 rounded-circle p-2">
                            {% else %}
                                <img src="/static/images/{{ user.profile_pic }}" class="w-50 rounded-circle p-2">
                            {% endif %}
                        </div>
                        <div class="col d-flex align-items-center">
                            <a>{{user.username}}</a>
                        </div>
                        <div class="col d-flex align-items-center">
                            <button class="btn" onclick="message(`{{ user.id }}`)"><i class="fa-regular fa-comment-dots fa-lg"></i></button>
                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>
    
</body>
</html>