<!DOCTYPE html>
<html lang="en">

<!--Login Page-->

<head>
  <title>Register Account</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/authentication.css') }}">
  <title>Document</title>
</head>

<body>
  <div class="registration-page">
    <div class="registration-outer">
      <div class="registration-inner">
        <h1 class="registration-title">Register Account</h1>
        <form action="{{ url_for('register')}}" method="post">
          <input type="text" name="displayname" id="displayName" placeholder="Display name">
          <br><br>
          <!-- <label for="userName">Username</label> -->
          <input type="text" name="username" id="userName" placeholder="Username">
          <br><br>
          <!-- <label for="Password">Password</label> -->
          <input type="password" name="password1" id="Password1" placeholder="Password">
          <br><br>
          <input type="password" name="password2" id="password1" placeholder="Re-type Password">
          <br><br>
          <button type="submit" value="submit" class="register-button">Register</button>
        </form>
      </div>
    </div>
  </div>
</body>


</html>